<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="">
    <div class="aHl"></div>
    <div id=":v8" tabindex="-1"></div>
    <div id=":vt" class="ii gt">
        <div id=":vi" class="a3s aXjCH ">
            <div class="adM">
            </div>
            <u></u>
            <div border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F8F7FA"
                 style="margin:0">
                <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#F8F7FA">
                    <tbody>
                    <tr>
                        <td style="padding-right:10px;padding-left:10px">
                            <table style="width:600px;max-width:600px" cellspacing="0" cellpadding="0" border="0"
                                   bgcolor="#F8F7FA" align="center">
                                <tbody>
                                <tr>
                                    <td style="text-align:left;padding:30px 0 20px 0" width="33%" valign="middle">
                                        <a href="http://www.eventbrite.com/?utm_source=eventbrite&amp;utm_medium=email&amp;utm_campaign=reminder_attendees_48hour_email&amp;utm_term=eb_logo"
                                           target="_blank"
                                           data-saferedirecturl="https://www.google.com/url?q=http://www.eventbrite.com/?utm_source%3Deventbrite%26utm_medium%3Demail%26utm_campaign%3Dreminder_attendees_48hour_email%26utm_term%3Deb_logo&amp;source=gmail&amp;ust=1571810140004000&amp;usg=AFQjCNFTo4v-kYHUzfX6hAxO-0N3Ien3NA">
                                            <img src="https://yt3.ggpht.com/a/AGF-l7-4O7MjKJYSAmLoZ2ccycVFJLs-n46y-81Ymw=s900-c-k-c0xffffffff-no-rj-mo"
                                                 alt="Eventbrite" style="width:136px;height:22px" class="CToWUd"
                                                 width="136" height="22" border="0">
                                        </a>
                                    </td>
                                    <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:right;padding-top:12px;vertical-align:middle"
                                        width="66%" valign="middle">
                                        <div>
                                            <a style="text-decoration:none;color:#3d64ff;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-size:13px;font-weight:500;color:#aaa;text-decoration:none"
                                               href="#"
                                               target="_blank"
                                               data-saferedirecturl="">Rechercher
                                                des événements</a>
                                            <a style="text-decoration:none;color:#3d64ff;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-size:13px;font-weight:500;color:#aaa;text-decoration:none;padding-left:20px"
                                               href="https://www.eventbrite.com/mytickets/?utm_source=eventbrite&amp;utm_medium=email&amp;utm_campaign=reminder_attendees_48hour_email&amp;utm_term=mytickets&amp;ref=eemaileventremind"
                                               target="_blank"
                                               data-saferedirecturl="https://www.google.com/url?q=https://www.eventbrite.com/mytickets/?utm_source%3Deventbrite%26utm_medium%3Demail%26utm_campaign%3Dreminder_attendees_48hour_email%26utm_term%3Dmytickets%26ref%3Deemaileventremind&amp;source=gmail&amp;ust=1571810140004000&amp;usg=AFQjCNGYmW-j1ANHAWIIqCGtp6C7E5XDZw">Mes
                                                billets</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width:600px;max-width:600px" cellspacing="0" cellpadding="0" border="0"
                                   bgcolor="#F8F7FA" align="center">
                                <tbody>
                                <tr>
                                    <td colspan="2" style="background:#fff;border-radius:8px">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:6px 6px 0 0"
                                                    align="">
                                                    <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">
                                                        Merci pour votre commande
                                                    </h2>
                                                    <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:300">
                                                        <p>Votre commande a été validé avec succès, veuillez présenter la pièce ci-jointe pour participer à l'évènement</p>
                                                        D'autres évènements vous intéresse? <a
                                                                href="#"
                                                                style="color:#999" target="_blank">voir d' autres évènement</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0 40px">
                                                    <table style="width:100%;min-width:100%" width="100%"
                                                           cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="background-color:#dedede;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0 40px">
                                                    <table style="width:100%;min-width:100%" width="100%"
                                                           cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="background-color:#dedede;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px"
                                                    align="">
                                                    <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;margin-bottom:18px">
                                                        Détail de votre commande :
                                                    </h2>
                                                    <table id="col-1" style="width:215px;text-align:center;overflow:hidden"
                                                           cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                        <tr>
                                                            <td>

                                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                                       align="">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="vertical-align:top" colspan="1"
                                                                            width="" valign="" height="" align="">
                                                                            <table width="" cellspacing="0"
                                                                                   cellpadding="0" align="right">
                                                                                <tbody>
                                                                                <tr style="display:block;background-color:#000;border-radius:4px;color:#fff!important;text-align:left;height:22px;line-height:1;padding:3px 6px 3px 6px;margin-top:1px;font-weight:500;font-size:9px;font-family:'Myriad Pro','Helvetica Neue',Helvetica,Arial,sans-serif">
                                                                                    <td align="">

                                                                                    </td>
                                                                                    <td style="min-width:52px"
                                                                                        colspan="1" width="" valign=""
                                                                                        height="" align="">
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td style="text-align:left;padding-left:4px"
                                                                            colspan="1" width="" valign="" height=""
                                                                            align="">
                                                                            <table width="100%" cellspacing="0"
                                                                                   cellpadding="0">
                                                                                <tbody>
                                                                                <tr width="100%">
                                                                                    <td style="float:left" width="100%">

                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table width="100%" cellspacing="0"
                                                                                   cellpadding="0">
                                                                                <tbody>
                                                                                <tr width="100%">
                                                                                    <td style="overflow:hidden;float:left;display:none;font-size:0;height:0;line-height:0;max-height:0;width:0;margin:0;padding:0"
                                                                                        width="100%">


                                                                                        <table width="" cellspacing="0"
                                                                                               cellpadding="0" align="">


                                                                                            <tbody>
                                                                                            <tr>


                                                                                                <td colspan="1"
                                                                                                    width="22" valign=""
                                                                                                    height="22"
                                                                                                    align="">


                                                                                                </td>


                                                                                                <td colspan="1" width=""
                                                                                                    valign="" height=""
                                                                                                    align="">
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <table id="col-2" style="text-align:center;padding:30px 0" cellspacing="0"
                                                           cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                        <tr>
                                                            <td>


                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <table id="col-3" style="width:215px;text-align:center;overflow:hidden"
                                                           cellspacing="0" cellpadding="0" border="0" align="right">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0 40px">

                                                    <table style="width:100%;min-width:100%" width="100%"
                                                           cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="background-color:#dedede;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>


                                            <tr>
                                                <td style="font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px"
                                                    align="">


                                                    <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

                                                        Des questions à propos de l'événement&nbsp;?

                                                    </h2>


                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr width="100%">
                                                            <td width="100%">


                                                                <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">


                                                                    <a href="#"
                                                                       style="text-decoration:none;color:#3d64ff;font-weight:normal"
                                                                       target="_blank">Contacter l'organisateur</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>


                                                </td>
                                            </tr>


                                            <tr>
                                                <td style="padding:0 40px">

                                                    <table style="width:100%;min-width:100%" width="100%"
                                                           cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="background-color:#dedede;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                            <table style="width:600px;max-width:600px;font-family:Helvetica,Arial,sans-serif"
                                   cellspacing="0" cellpadding="0" border="0" align="center">

                                <tbody>
                                <tr>
                                    <td style="padding-top:24px">


                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:12px 20px"
                                        align="">


                                        <table width="100%" cellspacing="0" cellpadding="0" align="">


                                            <tbody>
                                            <tr>


                                                <td colspan="1" width="50%" valign="top" height="" align="">

                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">


                                                        <tbody>
                                                        <tr>
                                                            <td style="font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:0 28px 0 0"
                                                                align="">


                                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                                       align="">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="padding-right:10px" colspan="1"
                                                                            width="75%" valign="middle" height=""
                                                                            align="">

                                                                            <table width="100%" cellspacing="0"
                                                                                   cellpadding="0" border="0">


                                                                                <tbody>
                                                                                <tr>


                                                                                    <td colspan="1" width="" valign=""
                                                                                        height="" align="">


                                                                                        <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:17px;line-height:24px;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:0;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

                                                                                            Créer votre propre événement

                                                                                        </h2>
                                                                                        <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding-bottom:6px">

                                                                                            Tout le monde peut vendre
                                                                                            des billets ou gérer des
                                                                                            inscriptions avec <span
                                                                                                    class="il">Ivenco</span>.

                                                                                        </div>


                                                                                        <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">


                                                                                            <a style="text-decoration:none;color:#3d64ff;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif"
                                                                                               href=""
                                                                                               target="_blank"
                                                                                               >En
                                                                                                savoir plus</a>

                                                                                        </div>


                                                                                    </td>


                                                                                </tr>


                                                                                </tbody>
                                                                            </table>

                                                                        </td>


                                                                        <td colspan="1" width="25%" valign="middle"
                                                                            height="" align="">

                                                                            <table width="100%" cellspacing="0"
                                                                                   cellpadding="0" border="0">


                                                                                <tbody>
                                                                                <tr>


                                                                                    <td colspan="1" width="" valign=""
                                                                                        height="" align="">


                                                                                        <a style="text-decoration:none;color:#3d64ff;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif"
                                                                                           href="https://www.eventbrite.fr/features/?utm_source=eventbrite&amp;utm_medium=email&amp;utm_campaign=&amp;utm_term=footer_learn_more_logo&amp;utm_content=&amp;ref=eemail"
                                                                                           target="_blank"
                                                                                           data-saferedirecturl="https://www.google.com/url?q=https://www.eventbrite.fr/features/?utm_source%3Deventbrite%26utm_medium%3Demail%26utm_campaign%3D%26utm_term%3Dfooter_learn_more_logo%26utm_content%3D%26ref%3Deemail&amp;source=gmail&amp;ust=1571810140007000&amp;usg=AFQjCNEKD0cE0n28ULG-tEno8ppfIxbAsA">


                                                                                            <img src="https://ci5.googleusercontent.com/proxy/KqbMxiSm26ZLYVJhCB4cwxM4IVk2QUFPCFxYM_PXzQuJKMtXfbyi2NG4Rd3tL0-tcHS0kWw_DpN933XzT4hvXqtTs1ENGnhwh9b-0_HW7NfrFX4ZcKUXs35SC8U=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/images/icons/tickets.png"
                                                                                                 title="" alt=""
                                                                                                 class="CToWUd"
                                                                                                 width="60" height="60"
                                                                                                 border="0">


                                                                                        </a>

                                                                                    </td>


                                                                                </tr>


                                                                                </tbody>
                                                                            </table>

                                                                        </td>


                                                                    </tr>


                                                                    </tbody>
                                                                </table>


                                                            </td>
                                                        </tr>


                                                        </tbody>
                                                    </table>

                                                </td>


                                                <td style="height:100%;background:#dedede" colspan="1" width="1px"
                                                    valign="" height="" align="">

                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">


                                                    </table>

                                                </td>


                                                <td colspan="1" width="50%" valign="top" height="" align="">

                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">


                                                        <tbody>
                                                        <tr>
                                                            <td style="font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:0 0 0 28px"
                                                                align="">


                                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                                       align="">


                                                                    <tbody>
                                                                    <tr>


                                                                        <td style="padding-right:10px" colspan="1"
                                                                            width="75%" valign="middle" height=""
                                                                            align="">

                                                                            <table width="100%" cellspacing="0"
                                                                                   cellpadding="0" border="0">


                                                                                <tbody>
                                                                                <tr>


                                                                                    <td colspan="1" width="" valign=""
                                                                                        height="" align="">


                                                                                        <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:17px;line-height:24px;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:0;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

                                                                                            Découvrez des événements
                                                                                            incroyables

                                                                                        </h2>


                                                                                        <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding-bottom:6px">

                                                                                            Trouvez des événements
                                                                                            locaux qui correspondent à
                                                                                            ce qui vous passionne.

                                                                                        </div>


                                                                                        <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">


                                                                                            <a style="text-decoration:none;color:#3d64ff;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif"
                                                                                               href="https://www.eventbrite.fr/directory/?utm_source=eventbrite&amp;utm_medium=email&amp;utm_campaign=&amp;utm_term=footer_iconmap&amp;utm_content=&amp;ref=eemail"
                                                                                               target="_blank"
                                                                                               data-saferedirecturl="https://www.google.com/url?q=https://www.eventbrite.fr/directory/?utm_source%3Deventbrite%26utm_medium%3Demail%26utm_campaign%3D%26utm_term%3Dfooter_iconmap%26utm_content%3D%26ref%3Deemail&amp;source=gmail&amp;ust=1571810140007000&amp;usg=AFQjCNFLFXWnEwglvl-sFyJOdP6ZYZJ4tw">Consulter
                                                                                                les événements</a>

                                                                                        </div>


                                                                                    </td>


                                                                                </tr>


                                                                                </tbody>
                                                                            </table>

                                                                        </td>


                                                                        <td colspan="1" width="25%" valign="middle"
                                                                            height="" align="">

                                                                            <table width="100%" cellspacing="0"
                                                                                   cellpadding="0" border="0">


                                                                                <tbody>
                                                                                <tr>


                                                                                    <td colspan="1" width="" valign=""
                                                                                        height="" align="">


                                                                                        <a style="text-decoration:none;color:#3d64ff;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif"
                                                                                           href="https://www.eventbrite.fr/directory/?utm_source=eventbrite&amp;utm_medium=email&amp;utm_campaign=&amp;utm_term=footer_iconmap_logo&amp;utm_content=&amp;ref=eemail"
                                                                                           target="_blank"
                                                                                           data-saferedirecturl="https://www.google.com/url?q=https://www.eventbrite.fr/directory/?utm_source%3Deventbrite%26utm_medium%3Demail%26utm_campaign%3D%26utm_term%3Dfooter_iconmap_logo%26utm_content%3D%26ref%3Deemail&amp;source=gmail&amp;ust=1571810140007000&amp;usg=AFQjCNHqTXqmTTJbqogw2n3jrnGl6cJ54Q">


                                                                                            <img src="https://ci6.googleusercontent.com/proxy/ohDVPQzbUNVjnO67p1reAOXdlfGr9VoeaxocKhOf_IeMNY6FkQpzR0MblNuM-7yrnuZv7gdqKSS_dKU6eKkqSHFTGNHYrhipIy8hcWr7JdB4gJKnQnDalIo=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/images/icons/city.png"
                                                                                                 title="" alt=""
                                                                                                 class="CToWUd"
                                                                                                 width="60" height="60"
                                                                                                 border="0">


                                                                                        </a>

                                                                                    </td>


                                                                                </tr>


                                                                                </tbody>
                                                                            </table>

                                                                        </td>


                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>


                                    </td>
                                </tr>


                                <tr>
                                    <td style="padding-top:24px">

                                        <table style="width:100%;min-width:100%" width="100%" cellspacing="0"
                                               cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-color:#dedede;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>


                                <tr>
                                    <td style="font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:24px 0;text-align:center"
                                        align="">


                                        <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:300;padding-bottom:6px">





<span>
                Cet e-mail a été envoyé à

    <a style="text-decoration:none;color:#3d64ff;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif"
       href="mailto:andry163.nexthope@gmail.com" target="_blank">andry163.nexthope@gmail.com</a>
            </span>

                                        </div>
                                        <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:300;padding-bottom:6px">
                                            <a style="text-decoration:none;color:#3d64ff;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif"
                                               href="#" target="_blank"><span
                                                        class="il">Ivenco</span></a> Ivandry
                                        </div>
                                        <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:300">
                                            Copyright © 2019 <span class="il">Ivenco</span>. Tous droits réservés.
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <img src="https://ci5.googleusercontent.com/proxy/Q-IqlQTx4fVTCHPJwySDS1b3TQKQekgXBirhSLcsRr9dCCzDKJ5rnRkTD8tYiHudHGNDHAqYe-aJ6yf1xwmz3w8AOdDhwPI3xAk91rf11HB5iRLm0nTKDM07oKjzw811TlLqObXZNk5yxtYLHRv1S4wIiobMWnaDehdOkW8ZcmumWHPi5KeiAUxLQBv30HWX0FrmJb4Ckw=s0-d-e1-ft#https://www.eventbrite.com/emails/action/?recipient=andry163.nexthope%40gmail.com&amp;type_id=46&amp;type=open&amp;send_id=2019-09-23&amp;list_id=9"
                                 alt="" style="border:0" class="CToWUd" width="1" height="1" border="0">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="yj6qo"></div>
                <div class="adL">

                </div>
            </div>
            <div class="adL">
            </div>
        </div>
    </div>

</div>
</body>
</html>